* {
  box-sizing: border-box;
}
.mx-20 {
  margin: 20px 0;
}
.my-20 {
  margin: 0 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.center {
  text-align: center;
}
.mt-30 {
  margin-top: 30px;
}
.mt-90 {
  margin-top: 90px;
}
.pointer {
  cursor: pointer;
}
.iconStyle {
  font-size: 150%;
  color: black;
}
.ant-table table {
  color: black;
}
.ant-table table th {
  font-size: 16px;
}
.ant-table table td {
  font-size: 14px;
}
