* {
  box-sizing: border-box;
}
.mx-20 {
  margin: 20px 0;
}
.mx-30 {
  margin: 30px 0;
}
.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.my-20 {
  margin: 0 20px;
}
.pt-7 {
  padding-top: 7px;
}
.mb-20 {
  margin-bottom: 20px;
}
.center {
  text-align: center;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mr-120 {
  margin-right: 120px;
}
.mt-90 {
  margin-top: 90px;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fw-14 {
  font-size: 14px;
}
.fw-16 {
  font-size: 16px;
}
.flex {
  display: flex;
  justify-content: space-around;
  gap: 100px;
}
.overflow-auto {
  overflow: auto;
}
.text-justify {
  text-align: justify;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.allergyForm {
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
#components-a-tooltip-demo-color .ant-btn {
  margin-right: 8px;
  margin-bottom: 8px;
}
