@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.header {
  min-height: 40vh;
  background: #4ecdc4;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4 {
  padding-top: 15px;
}
.profile-pic {
  height: 10rem;
  width: 15rem;
  object-fit: center;
  border: 2px solid #fff;
}

.heading {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 1rem 0;
}

.active {
  color: green;
  font-weight: bold;
}

.mobile-header {
  display: none;
}

